/*----- HERO IMAGE -----*/
.hero-text {
  font-family: "Rampart One", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text h2 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000;
}

.hero-container {
  color: #000000;
  height: 100vh;
}
.hero-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero {
  background: center no-repeat/cover;
  position: relative;
  display: flex;
  justify-content: center;
}

/*----- CONTENT -----*/
.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* changed to 1fr for equal width columns */
  text-align: center;
  background-color: #8c7f69;
  color: #fff;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* center horizontally */
  padding: 0 7vw; /* adjusted padding */
  text-align: center; /* center text inside */
}

.content-img {
  max-width: 100%; /* ensure the image takes up full width */
  max-height: 100%;
}

/* Mobile */
@media screen and (max-width: 768px) {
  .content-container {
    grid-template-columns: 1fr;
  }

  .content-img {
    padding-top: 5vh;
    max-width: 100%; /* ensure the image takes up full width */
    max-height: 100%;
  }
}

/*----- ACCORDION -----*/
.accordion-container {
  background-color: #485930;
  color: #fff;
  height: auto;
}

.accordion {
  background-color: #485930;
  color: #ffffff;
  cursor:pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
  padding-right: 24px;
}

.active, .accordion:hover {
  background-color: #9ba666;
}

.accordion svg {
  position: absolute;
  padding-right: 3vh;
  right: 0;
}
.panel {
  padding: 0 18px;
  background-color: #485930;
  display: none;
  overflow: hidden;
}

/*----- FOOTER -----*/
footer {
  display: grid;
  grid-template-columns: 5;
  text-align: left;
  padding: 1vh;
  background-color: #c1b5a7;
  color: black;
  justify-content: space-around;
}

.nav {
  text-align: left;
  padding-left: 5vh;
}

.map-container {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 6;
  position: relative;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 1vh;
  right: 1vh;
  width: 100%;
  height: 100%;
}

.map {
  max-height: 25vh;
}

#footer {
  text-align: center;
  grid-column: span 5;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
